@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
:root{
    --magenta:hsl(300, 69%, 71%);
    --violet:hsl(257, 40%, 49%);
}
body{
    width:100%;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/bg-desktop.svg");
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--magenta);

}

.container{
    width:90%;
    margin:auto;
    max-width:1200px;
    padding:20px;
}

section{
    margin:40px 0px;
    display: flex;
    justify-content: space-between;
}

section > div:first-child{
    width:100%;
    flex-basis:60%;
    margin-right:10px;
    /* background-color: red; */
}

section  div:last-child{
    color:#fff;
    flex-basis:40%;
    margin-left:10px;
    /* background-color: green; */
}
section  div:last-child h1{
    font-size: 3rem;
    margin-top:20px;
}
section  div:last-child p{
    font-size: 1.4rem;
    margin:20px 0px;
    opacity:0.9;
}
section > div:first-child img{
    width: 100%;
}
button{
    width:150px;
    height:40px;
    border-radius:20px;
    border:0px;
    box-shadow:5px 5px 10px rgba(0,0,0,0.2);
    cursor:pointer;
    outline:none;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;


}
.social-icons a{
    color:#fff;
    text-decoration: none;
    border-radius:100%;
    height:50px;
    width:50px;
    border:2px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left:5px;
}

@media screen and (max-width:1200px){
    section  div:last-child h1{
        font-size: 2rem;
        margin-top:0px;
    }
    section  div:last-child p{
        font-size: 1rem;
        margin:20px 0px;
        opacity:0.9;
    }

}

@media screen and (max-width:850px){
   .logo img{
      max-width:100%;
   }
    section{
        flex-direction: column;
        align-items: center;
        margin-top:60px;
    }
    section  div:last-child{
        text-align: center;
        margin:50px 0px;
    }
    section  div:last-child p{
        font-size: 1.4rem;
    }
    .social-icons{
        justify-content: center;
    }
}


